@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, textarea, button, select, a, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.partie {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    bottom: 0px;
}

.fenetre {
    background-color: #252c49;
    color: #ffffff;
    padding: 30px;
    margin: 0 auto;
}

.fenetre .progression {
    border: 2px #2c3f5d solid;
    border-radius: 18px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.fenetre .progression .jauge {
    display: flex;
    justify-content: center;
    width: 0%;
    height: 100%;
    background-color: #3cbe00;
    padding: 18px 0;
    transition: background-color 1500ms ease-out;
}

.fenetre .progression .jauge span {
    position: absolute;
    top: 15%;
    left: 50%;
    font-size: 1.4rem;
    font-weight: 700;
}

.fenetre .question-num {
    border-bottom: 1px #787fa1 dashed;
    padding-bottom: 8px;
}

.fenetre .question-num span:first-of-type {
    font-weight: 700;
    color: #a6acc8;
    font-size: 1.5rem;
}

.fenetre .question-num span:last-of-type {
    color: #a6acc8;
    font-size: 1rem;
}

.fenetre .question {
    font-weight: bold;
    letter-spacing: .07rem;
    font-size: 1.8rem;
    margin: 20px auto 60px;
}

.fenetre .propositions .proposition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px #2c3f5d solid;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.fenetre .propositions .proposition.choix {
    border: 2px #107eea solid;
}

.fenetre .propositions .proposition.juste {
    border: 2px #29ea10 solid;
}

.fenetre .propositions .proposition.incorrecte {
    border: 2px #ea1e10 solid;
}

.fenetre .propositions .proposition.choix span, .fenetre .propositions .proposition.juste span, .fenetre .propositions .proposition.icorrecte span {
    border: none;
    padding: 0;
    margin-right: 8px;
}

.fenetre .propositions .proposition.choix span svg {
    display: block;
    padding: 4px;
    border-radius: 100%;
    background: #107eea;
}

.fenetre .propositions .proposition.juste span svg {
    display: block;
    padding: 4px;
    border-radius: 100%;
    background: #29ea10;
}

.fenetre .propositions .proposition p {
    margin: 0;
    letter-spacing: .05rem;
    font-size: 1.5rem;
}

.fenetre .propositions .proposition span {
    display: block;
    border-radius: 100%;
    padding: 6px;
    border: 2px #2c3f5d solid;
}

.fenetre .propositions .proposition span svg {
    display: none;
}

.fenetre button {
    background-color: #107eea;
    border: none;
    font-family: 'Karla', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 12px 25px;
    border-radius: 20px;
    margin: 50px auto 20px;
    cursor: pointer;
    outline: none;
}

/* Fenêtre d'affichage du score */

.fenetre.score {
    background-color: #252c49f1;
    text-align: center;
    overflow: hidden;
}

.fenetre.score h2 {
    font-size: 2rem;
}

.fenetre.score img {
    height: 150px;
}

.fenetre.score h2 {
    font-size: 2rem;
}

.fenetre.score button {
    border-radius: 5px;
    margin-top: 0;
    background-color: #268600;
}

/* Classes utilitaires */

.gras {
    font-weight: bold;
}

.majuscule {
    text-transform: uppercase;
}

.txt-moyen {
    font-size: 1.2rem;
}

.txt-grand {
    font-size: 2rem;
}

.txt-enorme {
    font-size: 3rem;
}

.gris {
    color: #aaa;
}

.vert {
    color: rgb(105, 233, 54);
}

.espace-4 {
    letter-spacing: 4px;
}

.mt-0 {
    margin-top: 0;
}

.clic {
    transition: transform 100ms linear;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clic:active {
    transform: scale(.98);
}

.cacher {
    display: none;
}

/*##################### RESPONSIVE DESIGN ########################*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    body {
        background-color: #252c49;
        /*background-image: url(../img/bg-2.jpg);*/
        background-size: contain;
        background-position: center;
    }

}

/* Pour les écrans en dessous de 320px de largeur */

@media only screen and (max-width: 320px) {

    .fenetre.score {
        padding-top: 10px;
    }
    
    .fenetre.score h2 {
        font-size: 1.5rem;
    }

    .fenetre.score .txt-enorme{
        margin-bottom: 20px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    body {
        background-color: #9ca1b5;
        background-size: cover;
    }
    body main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .fenetre {
        padding: 30px;
        width: 600px;
    }
    .fenetre .progression {
        border-radius: 20px;
    }
    .fenetre .progression .jauge {
        padding: 18px 0;
    }
    .fenetre .progression .jauge span {
        font-size: 1.4rem;
    }
    .fenetre .question-num span:first-of-type {
        font-size: 1.5rem;
    }
    .fenetre .question-num span:last-of-type {
        font-size: 1rem;
    }
    .fenetre .question {
        font-size: 2rem;
        margin: 30px auto 60px;
    }
    .fenetre .propositions .proposition {
        padding: 10px;
        border-radius: 20px;
    }
    .fenetre .propositions .proposition p {
        font-size: 1.3rem;
    }
    .fenetre .propositions .proposition span {
        padding: 10px;
    }
    .fenetre .propositions .proposition.choix span svg {
        padding: 6px;
        margin-right: 7px;
    }
    .fenetre button.suivant {
        font-size: 1.2rem;
    }
}